@{
    Layout = "_Layout";
}

    <form action="/result" method="post">
        <label for="location">Enter Location</label>
        <input type="text" name="location" id="location">
        <button type="submit" name="button">Submit!</button>
    </form>
