@{
    Layout = "_Layout";
}

<h1>Places You've Been</h1>

<p><a href="/form">Click here to fill out form for places you've been</a></p>
<p><a href="/list">Click here to see all the places you've been</a></p>
